<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>add student's subject</title>
  </head>
  <body>
    <table border="1px" width="100%">
      <tr>
        <td><b>first name</b></td>
        <td><%=dataStudent.first_name%></td>
      </tr>
      <tr>
        <td><b>last name</b></td>
        <td><%=dataStudent.last_name%></td>
      </tr>
      <tr>
        <td><b>email</b></td>
        <td><%=dataStudent.email%></td>
      </tr>
    </table><br>
    <form class="" action="index.html" method="post">
      <label for="">Choose Subject</label><br>
      <select name="dropDownSubject">
        <option value="">tes</option>
      </select><br>
      <input type="submit" name="submit"  value="submit">
    </form><br>
    <a href="/students">back</a>
  </body>
</html>
