<!DOCTYPE html>
<html>
  <head>
    <%-include layout/header%>
  </head>
  <body>
    <div class="container">
      <%-include layout/page-header%>
      <form action="/students/add" method="post">
        <input type="text" name="first_name" placeholder="first name">
        <input type="text" name="last_name" placeholder="last name">
        <input type="text" name="email" placeholder="email">
        <input type="text" name="jurusan" placeholder="jurusan">
        <input type="submit" name="submit" value="SUBMIT">
      </form>
      <br><a href="/students">back</a>
    </div>
    <%-include layout/footer%>
  </body>
</html>
