<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>add student</title>
  </head>
  <body>
    <form action="/students/add" method="post">
      <input type="text" name="first_name" placeholder="first name">
      <input type="text" name="last_name" placeholder="last name">
      <input type="text" name="email" placeholder="email">
      <input type="text" name="jurusan" placeholder="jurusan">
      <input type="submit" name="submit" value="SUBMIT">
    </form>
    <br><a href="/students">back</a>
  </body>
</html>
