<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>enrolled students</title>
  </head>
  <body>
    <table border="1px" width="100%">
      <tr>
        <th>name</th>
        <th>score</th>
      </tr>
      <%dataSS.forEach(d => {%>
      <tr>
        <td><%=d.Student.first_name%></td>
        <%if (d.Score == undefined) {%>
          <td><a href="/subjects/<%= d.id %>/givescore">Give Score</a></td>
        <%} else {%>
          <td><%=d.Score%></td>
        <%}%>
      </tr>
      <%})%>
    </table>
  </body>
</html>
